.assign__task__unassigned{
    background: #F7F8FA;
    width: 40%;
    border-radius: 2rem;
}

.modal__task{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    color: #343C44;
    margin-bottom: 1rem;
}

.modal__task img{
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}