.customBtn-white{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    background: #ffffff;
    color: #783EFD;
    font-size: 1.5rem;
}

.customBtn-violet{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    background: #575C76;
    color: #FBFBFB;
}
