.form{
    width: 60%;
}

.form__title{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 4rem;
}

.profile__button{
    margin-top: 2rem;
}