.modal__footer{
    display: flex;
    justify-content: end;
    margin-top: 2rem;
}
.assign__input__field{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    color: #343C44;
}

.assign__user__unassigned{
    background: #F7F8FA;
    width: 40%;
    border-radius: 2rem;
}

.table__user{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 2rem 0 2rem;
}

.table__user__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table__user__img{
    height: 1%;
}