.spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
  
.spinner .haft__spinner{
    width: 8rem;
    height: 8rem;
    border: 0.3rem solid transparent;
    border-bottom: 0.3rem solid #2E0C7E;
    border-radius: 50%;
    animation: spin 0.5s linear 0s infinite;
}

@keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
}