.table{
    width: 100%;
    padding-left: 5rem;
    padding-top: 8rem;
}

.table__title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 2rem;
    color: #000000;
}

.table__content{
    width: 80vw;
} 

.table__row{
    font-family: 'Poppins';
    font-weight: 500;
    color: #192A3E;
    height: 5%;
}

.table__user__row{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.table__user__img{
    width: 5rem;
    margin-right: 2rem;
    padding-left: 0;
}

.table__user__img img{
    border-radius: 50%;
}

.table__footer{
    color: #232638;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.6rem;
    padding-left: 4rem;
}

.button_modal{
    background-color: #FDA20E;
    color:white;
    font-family: 'Poppins';
    font-weight: 400;
}