:root {
    --primary-color:#FFFFFF;
    --theme-purple:#2E0C7E;
    --theme-yellow:#FDA20E;
    --theme-gray:#E5E5E5;
    --splash-art: url(./assets/images/splash.jpg);
}
.button {
    background-color: var(--theme-purple);
    color: var(--primary-color);
    padding: 1.2rem 2.4rem;
    border-radius: 1rem;
}

.nav-bar {
    background: var(--theme-purple);
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
}
.right-panel{
        background: var(--theme-gray);
}
.splash{
    background-image: var(--splash-art);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.login-panel{
    background: var(--theme-yellow);
    border-radius: 8px;
}
.sign-up-panel{
    background: var(--primary-color);
    border-radius: 8px;
}
