.login{
    height: 100%;
    background-color: white;
}

.login__wrapper{
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.login__wrapper__left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
}

.login__input__field{
    font-family: 'Poppins';
}

.login__img{
    width: 15%;
}

.login__wrapper__right{
    display: flex;
    flex-direction: column;
    padding: 0 10rem;
    align-items: center;
    background-color: #FDA20E;
    justify-content: center;
    width: 35%;
}

.login__title{
    color: #000000;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 5rem;
    margin-bottom: 5rem;
}

.login__error{
    width: 100%;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 500;
    color: red;
}

.login__btn{
    margin-top: 6rem;
    width: 100%;
    background-color: #2E0C7E;
    color: white;
}

.login__form{
    width: 100%;
}