* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
}

body {
    background-color: #EFF3FD;
    background-size: cover;
    height: 100%;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

#root {
    height: 100%;
}